body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: Roboto, sans-serif;
}

header, footer {
    background-color: #1f2937;
    padding: 15px 15vw;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

h4 {
    color: #f9faf8;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

blockquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
}

button, .call-to-action {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
}

button {
    padding: 5px 18px;
    border: 0;
}

.quote {
    background-color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 18px;
}

.hero {
    display: flex;
    padding-top: 35px;
    padding-bottom: 70px;
}

.hero-text {
    flex: 1;
}

.hero-img {
    border: 3px solid black;
    height: 100px;
    width: 200px;
    align-self: center;
    flex: 1;
}