body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: Roboto, sans-serif;
}

header, footer {
    background-color: #1f2937;
    padding: 15px 15vw;
}

footer {
    text-align: center;
}

.information, .quote, .bottom {
    padding: 0 15vw;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.call-top {
    color: #f9faf8;
    font-weight: 700;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

blockquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    margin: 40px 0 0 0;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.button, .call-to-action {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
}

.button {
    padding: 8px 20px;
    border: 0;
}

.call-to-action {
    display: flex;
    padding: 25px 40px;
    margin: 60px 0;
    justify-content: space-around;
}

.second {
    border: 1px solid #f9faf8;
    align-self: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 60px;
}

.character {
    width: 200px;
    text-align: center;
}

.character-img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 15px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author {
    align-self: flex-end;
    margin-bottom: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 18px;
}

.hero {
    display: flex;
    padding-top: 35px;
    padding-bottom: 70px;
    gap: 15px;
}

.hero-text {
    flex: 1;
}

.hero-img {
    border: 3px solid black;
    height: 100px;
    width: 200px;
    align-self: center;
    flex: 1;
}